body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--fundo);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1, h2, h3, p {
    margin: 0;
}